* {
    margin: 0;
    padding: 0;
}


/*-------navigation--------*/

#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar-brand img {
    height: 40px;
    padding-left: 30px;
}

.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav {
    float: right;
    text-align: left;
}

.navbar-bar ul li a:hover {
    font-weight: 600;
    color: red!important;
    opacity: 0.5
}

.navbar {
    background: #fff;
}

.navbar-toggler {
    border: none!important;
}

.nav-link {
    color: #555!important;
    font-weight: 600;
    font-size: 16px;
}